.custom-kiosk-icon {
    background: none;
    border: none;
  }
  
  .custom-kiosk-icon .marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c79816;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }
  
  .custom-kiosk-icon .marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
  }
  
  .custom-kiosk-icon i {
    position: absolute;
    width: 22px;
    font-size: 22px;
    top: 0;
    left: 0;
    margin: 4px 0 0 4px;
    color: #c79816;
  }
  .kiosk-popup {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .kiosk-popup h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .kiosk-popup p {
    margin: 5px 0;
  }
  .kiosk-popup i {
    margin-right: 5px;
    color: #c79816;
  }